:root{
--header-background:#d8d8d8;
--header-border:#989898;
--header-font:#33363f;
--box-background:white;
--box-font:#333333;
--fontColorDark:#323639;
--fontColorLight:#3a4454;
--border:#d9d9d9;
--borderSpecial:#ad8e8e91;
--card-border:#d0d0d0;
--card-font:#494858;
--card-font-light:#a8a59e;
--title:#4c3c37;
--desc:#b7b5b5;
--light-background:#f2f2f2;
};