.albumCard{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border:solid 2px var(--card-border);
    height:400px;
}
.albumImg {
    width:100%;
    height: 200px;
    overflow-y: hidden;
}
.albumImg img{
    width: 100%;
    height: auto;
}

.albumInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
    flex-grow: 2;
    padding-bottom: 0;
}
.info {
    padding-left: 10px;
}

.info h3{
    font-size: 20px; 
    font-weight: 400;
    color: var(--card-font);
}
.info p {
    font-size:14px;
    font-weight: 400;
    color:var(--header-border);
}
.more{
    padding-left: 10px;
    margin-bottom: 0;
}
.more p{
    font-size:14px;
    font-weight: 400;
    color:var(--header-border);
    padding: 0;
}
.link{
    background-color: var(--light-background);
    width: 100%;
   border-top: solid 2px var(--card-border);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}
a{
    text-decoration: none;
    color: var(--card-font);
}

